@import "tailwindcss";

@theme {
  --font-sans: "Amarante", cursive;
}

html {
  font-family: var(--font-sans);
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
}
